/*header*/
header{
    width: 100%;
    height: calc(60vh);
    background-color: #9d967e;
}
header a {
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
}

.row div {
    width: 50%;
    height: 60%;
}
.five {
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.six {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10% 10%;
}

#pealkiri {
    text-transform: uppercase;
    font-size: xx-large;
    padding-bottom: 10%;
}
#pilt {
    width: 100%;
    border-radius: 10% 10% 75% 36% / 0 0 98% 13%;
}

/*main*/

main {
    background-color: #d1d1d1;
    padding: 2%;
    height: 620px;
}
.h1Main{
    text-transform: uppercase;
    padding-top: 2%;
    padding-right: 2.5%;
    font-size: xx-large;
}
.one {
    padding-left: 3%;
    padding-top: 1%;
    padding-right: 3%;
    line-height: 1.4;
    font-size: larger;

}
.container{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container img {
    width: auto;
    height: 100%;
    margin-left: -50px;
    border-radius: 50%;
}

.broneeri-img {
    margin: 10px;
    position: relative;
    text-align: center;
}
.tekstpildid {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -70%);
}
.varjatud {
    display: none;
}

/*

.container_2{
    display: inline-block;
    position: relative;
    width: 80%;
    height: 90%;
    overflow: hidden;
}
.container img {
    height: 100%;
    position: absolute;
    right: 30%;
}
.container_2 img {
    height: 100%;
    position: absolute;
    left: 60%;
}
*/

/*footer*/
footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #a8a795;
    margin-top: 20px;
    overflow: hidden;
}
footer ul {
    width: fit-content;
    float: left;
}

footer ul li {
    display: block;
    padding: 0 0 20px 0;
}

footer ul li p {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #030303;
    text-transform: uppercase;
}
.footer-icon {
    width: 32px;
    float: right;
}
.footer-icon img {
    width: 100%;
    margin-bottom: 10px;
}

/*portfoolio.html*/
.h1port {
    text-transform: uppercase;
    text-align: center;
    padding-top: 2%;
    font-size: xx-large;
}

.flexPort {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}
.flexPort img {
    width: 40%;
    border-radius: 20%;
    padding: 4%;
}

/*broneering.html*/
.flex {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    justify-content: space-evenly;
    flex-basis: 25%;
    max-width: 100%;

}
.bronnimg {
    flex-grow: 0;
    width: 60%;
    height: 100%;
    -webkit-border-top-right-radius: 30px 30px;
    -webkit-border-bottom-right-radius: 30px 30px;
    position: relative;
    left: -10%
}
.bronnForm {
    flex-grow: 1;
    padding-left: 40px;
    position: relative;
    left: -5%;
}
.bronnH1 {
    text-transform: uppercase;
    text-align: center;
    padding-left: 30%;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

input[type=text] {
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline:0;
    height:25px;
    width: 200px;
    padding-left:10px;
    padding-right:10px;
    margin: 3% 0;
}
input[type=date] {
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline:0;
    height:25px;
    width: 200px;
    padding-left:10px;
    padding-right:10px;
}
input[type=submit] {
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size:  16px;
    padding: 24px 60px;
    background-color: #857e64;
    transition-duration: 0.4s;
    text-transform: uppercase;
    margin: 8px 0;
    position: relative;
    left: -45%;
    top: 40%;

}
input[type=submit]:hover{
    background-color: white;
    border: grey 4px;
}

@media only screen and (max-width: 950px) {
    .two, .three {
        display: none;
    }

    .h1Main {
        text-align: center;
    }
    .varjatud {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: larger;
        margin: 20px;
        color: #857e64;
    }
    .flex {
        display: block;
        text-align: center;
    }

    .bronnimg {
        display: inline-block;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        position: static;
    }
    .bronnForm {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .bronnH1 {
        display: inline-block;
        text-align: center;
        position: static;
        margin-right: 40%;
    }
    input[type=submit] {
        position: static;
        margin-left: 20%;
        margin-right: auto;
        margin-top: 20px;
        padding: 12px 24px;
    }
    label {
        font-size: 24px;
    }


}
